@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
}

@layer components {
  ::-webkit-scrollbar {
    @apply w-0
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-light {
    background: url("/light_background.png") no-repeat;
    background-size: cover;
  }

  .bg-dark {
    background: url("/dark_background.png") no-repeat;
    background-size: cover;
  }

  .bg-main {
    @apply bg-light dark:bg-dark
  }
}
